*{
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 15em; 
}

main{
    background-color: rgba(218, 245, 97, 0.2);
    border : 10em;
}

.title{
    text-align: center;
    font-size: 40px;
    min-width: 10%;
}

.subtitle{
    text-align: center;
    font-size: 28px;
}

.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1em;
    border: 0.5rem solid rgba(255, 255, 0, 0.39);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);

}

.imagemDaPaginaInicial{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1em;
    border: 0.5rem solid rgba(255, 255, 0, 0.39);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
    margin-bottom: 100rem;

}

#msg{
    text-align: center;
    font-family: 'Ephesis', cursive;
    font-size: 42px;
    min-width: 1em;
}

#trust{
    margin-bottom: 100rem;
}

.topic{
    text-align: center;
    font-size: 32px;
    min-width: 1em;

}

.description{
    text-align: center;
    font-size: 22px;
    width: auto;
    padding: 1em;
    border-width: 1px;
    border-style:solid;
    border-width: 0.25em;
    border-radius: 0.25em;
    background-color:rgb(241, 241, 203);
}

.divider{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 10px solid;
    border-color: black;
    border-radius: 1em
}

ol, ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 22px;
    text-align: center;
    width: auto;
    padding: 2em;
    background: white;
    border-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(210, 218, 105, 0.712);
    background: rgb(228, 228, 167);
}

li{
    line-height: 1.5em;
}

footer{
    text-align: center;
    width: auto;
    padding: 1em;
    background: rgb(228, 228, 167);
    border-radius: 1em;
    border: 1rem solid transparent;
    margin: 1em;
    box-shadow: 1px 1px 10px 5px rgba(210, 218, 105, 0.712);
    vertical-align: baseline;
}

#Putin:hover {
    animation: shake 0.5s; 
}

img.sticky {
    float: right;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    width: 400px;
    min-width: 2em;
    border-radius: 1em;
    border: 0.5rem solid rgba(255, 255, 0, 0.39);
    box-shadow: 1px 1px 10px 5px rgb(190, 179, 72);
}

form{
    font-size: 18px;
    width:50%;
    padding: 3em;
    min-width: 10%;
}

#arroba{
    float: right;
    width: 10%;
    border: none;
    padding: 2em;
    box-shadow: none;
}