<DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Bem vindo à página de contato do João Nepomuceno">
        <meta name="keywords" content="Programação, sites, aplicativos, html">
        <meta name="author" content="João Nepomuceno">
        <meta name="copyright" content="JPJ&P Company™">
        <Meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="joaonep.css">
        <title>Documento</title>
    </head>
    <body>
        <main>
        <h1 class="title"> Entre em contato com João Nepomuceno</h1>
    <hr>
    <img class= "imagem" id="arroba" src = "http://ymeio.com/arroba.gif" alt = "Logo">
    <form action="mailto:joaonepomuceno@id.uff.br" method="post" enctype="text/plain">
        Nome:<br>
        <input type="text" name="Name"><br>
        E-mail:<br>
        <input type="text" name="Mail"><br>
        Telefone:<br>
        <input type="tel" id="phone" name="phone" pattern="([0-9]{2})[0-9]{4}-[0-9]{4}"><br>
        Mensagem:<br>
        <input type="text" name="comment" size="100"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
        </form>

    <hr>
    
    <footer>
        <h2 >Meus contatos</h2>
        <h3 ><a href="https://gitlab.com/N3pomuceno">GitLab</h3>
        <h3><a href="https://www.facebook.com/joaonepomuceno.freitasdeazevedo/">Facebook</a></h3>
        <h3><a href="https://www.linkedin.com/in/jo%C3%A3o-nepomuceno-azevedo-a78ba1180/">LinkedIn</a></h3>
        <h3><a href="https://www.boavista.rr.leg.br/imagens/emconstruo.jpg/image_view_fullscreen">GitHub</a></h3><br>
        <h3>Retorno</h3>
        <h3><a href="joaonepomuceno.html">Página do Membro</a></h3>
        <h4><a href="index.html">Página inicial</a></h4>
    </footer>   
    </main>
    </body>
    </html>
    
    